<!DOCTYPE html>
<!-- DEMO FILE for CSS v6 --> 

<html>
  <head>
    <title>foo title</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"> 
  </head>

 
  <body>
    
 <div id="header">
	  <ul>
	    <li><a class="navlink" href="">dis</a></li>
	    <li><a class="navlink" href="">dat</a></li>
	    <li><a class="navlink" href="">de udda ting</a></li>
	  </ul>
 </div>
    <div id="container">
      <div id="content">
	<div id=nav">
	  <h3>nav foo</h3>
	</div>

	<div id="main">
	  <h2>main foo heading</h2>
	{{text}}
	<div id="footer">
	  Copyright &copy; 2015 Clyde "Thluffy" Sinclair
	</div>

    </div> <!--close container-->

  </body>

</html>
